@page "/Management/Samples/Display/{id?}"
@using SampleResources = BigBizInsurance.Localization.SampleResources.SampleResources
@using SharedResources = Common.Localization.Shared.Shared
@using UserManagement.Domain.Models
@model BigBizInsurance.Web.Areas.Management.Samples.DisplayModel
@{
     
}

<div class="row">
    <div class="col-lg-12">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2>@SampleResources.Display_FormTitle</h2>
            </div>
            <div class="card-body">
                <form  method="post">
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label>  @SampleResources.FormName</label>

                        </div>
                        <div class="col-md-10 mb-3">
                            <span>@Model.Input.Name</span>
                        </div>
                    </div>

                    <button type="submit" asp-page-handler="Cancel" formnovalidate="formnovalidate" class="btn btn-primary">@SharedResources.BackToList</button>

                </form>
            </div>
        </div>
    </div>
</div>

