@page
@using UsersResources = UserManagement.Localization.Users.UsersResources

@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = UsersResources.ForgotPasswordConfirmation;
}
@*<h1>@ViewData["Title"]</h1>*@
<p>
    @UsersResources.ForgetPasswordConfirmMsg
</p>
